@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

body{
    background-color: #01579b;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.form{
    max-width: 550px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 60px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    text-align: left;
}


.input-field-list{
    display: flex;
    flex-direction: column;
    padding: 50px;
}


.input-field{
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 20px;
    color: #fff;
    height: 50px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.btn{
    width: 40%;
    margin: 20px 20px;

}