*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 211, 203);
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
}

.block{
    position: relative;
    margin: 50px ;
    height: 300px;
    width: 300px;
    background-color: red;
}
.imagen{
    height: 100%;
    width: 100%;

}