.buy-container{
    position: absolute;
    width: 50vw;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    color: #000000;
    font-size: 1.2rem;
}

.showtime-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px 0;
    padding: 15px 0;
    border-bottom: 1px solid #FD3410;
}

.buy-form{
    
}

.buy-amount-total{

    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    align-items: center;
    border-bottom: 1px solid #FD3410;
}
.buy-amount-total input{
    height: 25px;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.3rem;
}

.select-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #FD3410;
}

.select-card-item{
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 15px 0px 0 0;
}

.select-card-item select{
    width: 300px;
    height: 30px;
    padding: 0 3px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.3rem;
}

.buy-actions{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.buy-actions *{
    margin: 0 15px;
}

.buy-btn{
    padding: 10px 40px;
    color: #ffffff;
    text-decoration: none;
    background-color: #FD3410;
    border-radius: 5px;
    transition: all 0.2s ease 0s; 
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.buy-btn:hover{   
    background-color: #ee2704;
}

.buy-add-cc{
    text-decoration: none;
    color: #000000;
    margin-bottom: 15px;
}

#buy-ticket-value{
    display: none;
}

#total-price{
    width: 80px;
}

#ok-btn-amount{
    width: 130px;
    height: 25px;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    background-color: #FD3410;
    border-radius: 5px;
    transition: all 0.2s ease 0s; 
    border: none;
    outline: none;
}

#buy-ticket-value{
    display: none;
}

#dto-advice{
    position: relative;
    width: 500px;
    text-align: center;
    font-size: 1rem;
    display: none;
    transition: all 0.2s ease 0s; 
    margin:0 auto;  
}
/* .buy-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 50vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(#FF416C, #FF4B2B);
    line-height: 2.5rem;
    font-size: 1.3rem;
    color: #000000;
}

.showtime-details-container{
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
    justify-items: center;
    align-items: center;
}

.number-tickets{
    font-size: 1.1rem;
}

.showtime-buy-details{
    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    line-height: 2.5rem;
    font-size: 1.3rem;
    
    
}

.buy-form{
    width: 100%;
    justify-content: center;
    text-align: center;
    
}

.buy-amount-total{
    display: flex;
    align-content: center;
    margin-top: 15px;
    
}

.buy-actions{
    margin-top: 25px;
}

.buy-btn{
    padding: 10px 40px;
    color: #000000;
    text-decoration: none;
    background-color: #ff411f;
    border-radius: 5px;
    transition: all 0.2s ease 0s; 
    border: 1px solid #000000;
    outline: none;
}

.buy-btn:hover{   
    background-color: #fc2802;
}

.active-dto-advice{
    transition: all 0.2s ease 0s;   
    display: block;
}

.select-card{
    margin-top: 50px;
}

#buy-ticket-value{
    display: none;
}

#dto-advice{
    position: relative;
    width: 500px;
    text-align: center;
    font-size: 1rem;
    display: none;
    transition: all 0.2s ease 0s;   
}
#buy-amount{
    width: 50px;
    height: 30px;
    
}

#ok-btn-amount{
margin: 0 auto;
}

#total-price{
    width: 100px;
    margin-right: 15px;
}

.btn-input{
    color: #000000;
    border-radius: 3px;
    outline: none;
    font-size: 1.3rem;
    text-align: center;
    border: none;
}

#buy-back-btn{
    height: 25px;
    padding: 5px 40px;
    
} */