


.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
    background: #171717;
    top: 30vh;
}

.block {
    margin: 50px 0;
    position: relative;
}

.card-image {
    background: transparent;
    border: none;
    text-align: left;
    max-width: 200px;
    max-height: 300px;
    z-index: 10;
}

.image {
    width: 210px;
    height: 315px;
    border-radius: 5px;
    border: 3px solid #fff;
    transition: all 0.2s ease 0s;
}

.movie-title {
    position: relative;
    padding-top: 4px;
    opacity: 1;
    line-height: 1.5rem;
    transition: .15s all;
    color: rgb(255, 255, 255);
    overflow: hidden;
    font-size: 0.8rem;
}

.overlay-card{
    position: absolute;
    height: 0px;
    width: 0px;
    bottom: 99%;
    margin-left: 2px;
    z-index: 50;
    align-items: center;
}

.overlay-card-background{
   
    width: 206px;
    height: 310px;
    transition: all 0.2s ease 0s;
    background-color: #000000;
    opacity: 0;
}

.movie-card-details{
    background: linear-gradient(#FF416C, #FF4B2B);
    width: 130px;
    height: 50px;
    border-radius: 4px;
    transform: translateY(-200%);
    opacity: 0;
    text-align: center;
    transition: all 0.2s ease 0s;
    padding-top: 10px;
    margin-left: 40px;
}

.movie-card-details a{
    text-decoration: none; 
    color: #fff; 
    font-size: 1.3rem;
}

.overlay-card p{
    color: #fff;
    transform: translateY(-500%);
    opacity: 0;
    font-size: 2.1rem;
    /* width: 0; */
    transition: all 0.2s ease 0s;
    /* padding-left: 60px; */
}


.overlay-card:hover > .overlay-card-background{
    background-color: #000000;
    opacity: 0.7;
}

.overlay-card:hover > .movie-card-details{
    transform: translateY(-350%);
    opacity: 1;
}

.overlay-card:hover > p{
    opacity: 1;
}

.movie-card-details:hover{
    background: linear-gradient(rgb(255, 35, 87), rgb(255, 62, 28));
}
