* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}



/* BACKGROUND IMAGE */
/* 
 .bg-image {
    position: absolute;
    background: url('https://images.thewest.com.au/publication/C-520416/c79010c7f4068ef24c8210980e8fb2c44a9ba572-16x9-x0y285w2880h1620.jpg');
    height: 95vh;
    width: 98.5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    
    
} */

/* HEADLINE */

 /* .headline {
    position: absolute;
    z-index: 2;
    top: 0%;
}  */

/* HEADLIGHT */
/* 
.headlight {
    position: relative;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 30px 0;
    margin-left: 48px;
}  */

/* OUTSTANDING CONTAINER */
/* 
.outstanding-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50vh;
    margin: 0 50px;
    border-radius: 5px;
}

.movie-img {
    margin-right: 15px;
} 

.movie-img img {
    height: 356px;
    width:  256px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 7px 32px 13px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 6px 7px 32px 13px rgba(0, 0, 0, 0.72);
    box-shadow: 6px 7px 32px 13px rgba(0, 0, 0, 0.72);
} */
/* 
.movie-data {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    color: #fff;
} */
/* 
.movie-details {
    display: flex;
    flex-direction: column;
} */
/* 
.movie-details * {
    padding: 15px 40px;
    font-size: 1.2rem;
}

.movie-details h3 {
    padding-top: 5px;
    padding-left: 0px;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.movie-overview {
    font-size: 1.3rem;
    text-align: justify;
    margin-right: 30px;
}  */

 /* BUTTONS */
/* 
.movie-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    margin-left: -30px;
}

.btn-dark-md {
    width: 200px;
    height: 60px;
    margin: 0 30px;
    font-size: 1.5rem;
    border: 3px solid rgb(255, 255, 255);
    background: #000000;
    color: #fff;
    border-radius: 30px;
    outline: none;
    transition: all 0.2s ease 0s;
}

.btn-dark-md:hover {
    width: 205px;
    border: 3px solid rgb(255, 117, 93);
}    */
