.message-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    transition: all 0.2s ease 0s;  
    z-index: 60;
}

.message-content {
    width: 450px;
    height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: linear-gradient(#FF416C, #FF4B2B);
  color: #ffffff;
  border-radius: 5px;
}

.message-container .message-content p {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
}

.message-container .message-content button {
  width: 40%;
  height: 25%;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin: 25px auto 0 auto;
  background-color: rgba(255, 0, 0, 0.89);
  transition: all 0.2s ease 0s;  
  color: #ffffff;
  font-size: 1.2rem;
}

.message-container button:hover{
    background-color: rgba(187, 24, 24, 0.89);
}