<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='popup.css'> -->
    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    <button id="btn-abrir-popup" class="btn-abrir-popup">Abrir Ventana Emergente</button>
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <h3>SUSCRIBETE</h3>
            <h4>y recibe un cupon de descuento.</h4>
            <form action="">
                <div class="contenedor-inputs">
                    <input type="text" placeholder="Nombre">
                    <input type="email" placeholder="Correo">
                </div>
                <input type="submit" class="btn-submit" value="Suscribirse">
            </form>
        </div>
    </div>

    <script src="popup.js"></script>
</body>
</html>